body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color:#EA1C2c ;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
}

#headingGroup span {
    color: #e40f20;
}

#headingGroup h2 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(184, 47, 184);
    transition: background 500ms;
}

.moreCandies {
    font-weight: 180;
    font-size: 2.5rem;
    color: #EA1C2C;
}

.Candies {
    color: white;
}

.Candies:hover {
    color: #EA1C2C;
}

#Jumbo {
    background-image: url("https://images.unsplash.com/photo-1472452049192-db15def0be25?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTYyfHxjYW5kaWVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-position: center;
   }

@media (max-width: 1200px) {
    #headingGroup h2 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}